<div class="center jumbotron"> 
<h1>Welcome to my App</h1>
<p>
This is the home page for the
<a href="https://ancient-reef-24119.herokuapp.com/">Vish App</a>
    , the application created by vishwa.
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>